* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
}

.box-1 {
    flex: 1;
    height: 150px;
    text-align: center;
    background-color: antiquewhite;
}

.box-2 {
    flex: 1;
    height: 150px;
    text-align: center;
    background-color: whitesmoke;
}

.box-3 {
    flex: 1;
    height: 150px;
    text-align: center;
    background-color: aliceblue;
}