* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#photo {
    border-style: dotted;
    border-radius: 9999px;
    border-color: black;
}

h1 {
    font-family: Verdana;
    text-align: center;
}

h2 {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-size {
    font-size: 26px;
}

/*
table {
  border-spacing: 0em;
  
  border-collapse: separate; 
}*/

td {
	padding: 1em;
}

.navigation-bar {
    background-color: beige;
    color: black;
    font-family: Impact;
    padding-left: 1em;
    padding-top: 0em;
    height: 3.25em;
    font-size: 1.5em;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    /*mask-border-mode: alpha;*/
    /*border-top: 5px;*/
    /*border-color: black;
    border-style: dotted;*/
}

.box-1 {
    height: 550px;
    /*text-align: center;*/
    background-color: antiquewhite;
}

.box-2 {
    flex: 1;
    height: 150px;
    text-align: center;
    background-color: whitesmoke;
}

.box-3 {
    flex: 1;
    height: 150px;
    text-align: center;
    background-color: aliceblue;
}